
.top, .middle {
	background-color: #90EE90;
	text-align: center;
	width: auto;
	font-weight: bold;
	font-size: larger;
	margin: 50px;
	line-height: 30px;
}

.col-lg-6, .col-lg-4, .col-lg-8, .col-lg-12, .col-lg-2, .col-lg-10, footer {
	border: solid black;
	border-radius: 5%;
}
