
.top, .middle {
	background-color: #90EE90;
	text-align: center;
	width: auto;
	font-weight: bold;
	font-size: larger;
	margin: 50px;
	line-height: 30px;
}

[class *="col"], footer {
	border: solid black;
	border-radius: 5px;
}
